.big-button {
  outline: none;
  border: none;
  display: block;
  position: relative;
  background-color: #600613;
  font-size: $m-size;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  padding: 2.4rem;
  margin-bottom: $xl-size;
  border-radius: 3px;
  box-shadow: 0 6px #57061E;
}

.big-button:hover {
  box-shadow: 0 4px #57061E;
  top: 2px;
}

.big-buttontn:active {
  box-shadow: none;
  top: 6px;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background: $dark-red;
  border: none;
  border-bottom: .3rem solid darken($dark-red, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
  margin-right: $s-size; 
}